.newedit-inputfield 
{
    width: 280px;
    padding: 4px;
    margin: 4px;
}

.newedit-form 
{
    margin-top: 20px;
    margin-bottom: 40px;
    label 
    {
        float: left;
        width: 100px;
        font-weight:bold;
        padding-top: 7px;
    }
}

.overview-table
{
    width: 700 px;
    tr 
    {
        padding: 4px;
        td 
        {
            padding: 4px;
        }
    }
}

.overview-link 
{
    color: blue;
}

.table-header 
{
    font-weight: bold;
}

.button-admin 
{
    margin-right: 20px;
    border: 1px solid white;
    padding: 5px;
    background-color: #F5F5F5;
    &:hover 
    {
        border: 1px solid lightgrey;
    }
}

.button-save 
{
    float: right;
    font-size: 17px;
}

.checkbox 
{
    margin-top: 12px;
}

.main-nav-admin 
{
    display: inline-block;
    position: relative;
    top: -20px;
}

.nav-admin-logo 
{
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
    img 
    {
        height: 60px;
        width: 60px;
    }
}

.thumbnail-admin 
{
    float: right;
    margin: 40px;
}