.newedit-inputfield 
{
    width: 280px;
    padding: 4px;
    margin: 4px;
}

.newedit-form 
{
    margin-top: 20px;
    margin-bottom: 40px;
    label 
    {
        float: left;
        width: 100px;
        font-weight:bold;
    }
}

.overview-table
{
    width: 700 px;
    tr 
    {
        padding: 4px;
        td 
        {
            padding: 4px;
            border: 1px solid #E3E3E3;
        }
    }
}

.overview-link {
    color: blue;
}

.table-header {
    font-weight: bold;
}